<a href="https://colab.research.google.com/github/ProgramerSJ/Pythonclass/blob/main/Homework2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Solution 21

letters = 'python'

print(letters[0] + "",letters[2])

p t

In [ ]:
#Solution 22

licenst_plate = "24가 2210"

print(licenst_plate[4:8])

2210

In [ ]:
#Solution 23

string = "홀짝홀짝홀짝"

print(string[0]+string[2]+string[4])

홀홀홀

In [ ]:
#Solution 24

string = "PYTHON"

print(string[::-1]) # :: -1 하이픈 두개 -1 사용할 경우 모든 문자열이 거꾸로 출력력
print(string[3:0:-1]) # 3번 인덱스부터 1번 인덱스까지 역순으로 출력

NOHTYP
HTY

In [ ]:
#Solution 25

phone_number = "010-1111-2222"

print(phone_number.replace("-"," ")) # replace 함수는 해당 문자열을 뒤의 문자열로 대체하는 함수

010 1111 2222

In [ ]:
#Solution 26

phone_number = "010-1111-2222"

print(phone_number.replace("-",""))

01011112222

In [ ]:
#Solution 27

url = "http://sharebook.kr"

print(url[17:20])

kr

In [ ]:
#Solution 28

lang = 'python'

print(lang) # 문자열은 immutable 하므로, 수정할 수 없으므로 error 발생, 따라서 변환하기 위해서는
print(lang.replace('p','P'))

python
Python

In [ ]:
#Solution 29

string = 'abcdfe2a354a32a'

print(string.replace('a','A'))

Abcdfe2A354A32A

In [ ]:
#Solution 30

string = 'abcd'
string.replace('b','B')

print(string) # print를 통한 출력이 아니므로, 이는 기존의 string이 출력됨. 이를 제대로 출력하면,
print(string.replace('b','B'))

abcd
aBcd

In [ ]:
#Solution 31

a = "3"
b = "4"

print(a+b) # 문자열이기 때문에 연결되어 출력됨.

34

In [ ]:
#Solution 32

print("Hi"*3) # 문자열의 3번 출력 = HiHiHi

HiHiHi

In [ ]:
#Solution 33

print("-"*80)

--------------------------------------------------------------------------------

In [ ]:
#Solution 34

t1 = 'python'
t2 = 'java'

print((t1 + " " + t2 + ' ')*4)

python java python java python java python java

In [ ]:
#Solution 35

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d 이름: %s 나이: %d" %(name1, age1, name2, age2))
# %formatting 은 숫자를 넣고 싶은 자리에 %d 문자를 넣고 싶은 자리에 %s, 문자를 넣기 위해서는 ""or'' 사용 필요
# %s : 문자열 / %c : 문자 1개 / %d : 정수 / %f : 부동 소수 / %o : 8진수 / %x : 16진수 /%% : Literal(answk '%' 자체)

이름: 김민수 나이: 10 이름: 이철희 나이: 13

In [ ]:
#Solution 36

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

"이름: {} 나이: {} 이름: {} 나이: {}" .format(name1,age1,name2,age2)

'이름: 김민수 나이: 10 이름: 이철희 나이: 13'

In [ ]:
#Solution 37

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

f'이름: {name1} 나이: {age1} 이름: {name2} 나이: {age2}'

'이름: 김민수 나이: 10 이름: 이철희 나이: 13'

In [ ]:
#Solution 38

상장주식수 = "5,969,782,550"
print(int(상장주식수.replace(",","")))

5969782550

In [ ]:
#Solution 39

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [ ]:
#Solution 40

data = "   삼성전자    "
print(data.strip())

삼성전자