<a href="https://colab.research.google.com/github/ProgramerSJ/Pythonclass/blob/main/Homework4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Solution 71

my_variable = ()

print(type(my_variable))
print(my_variable)

<class 'tuple'>
()

In [ ]:
#Solution 72

movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [ ]:
#Solution 73

tup1=(1)

print(tup1)

1

In [ ]:
#Solution 74

t = (1, 2, 3)
t[0] = 'a'

# 튜플은 immutable 하기 때문에, 생성 후 수정이 불가능하므로 에러가 발생함.

TypeError: ignored

In [ ]:
#Solution 75

t = 1,2,3,4

print(type(t))

# 튜플은 괄호가 생략이 가능함.

<class 'tuple'>

In [ ]:
#Solution 76

t = ('a', 'b', 'c')
t = ('A', 'b', 'c') # 튜플의 첫 요소 'a' => 'A' 로 변경하거나,

print(t)

t= list(t) # 튜플을 리스트로 변환한 뒤
t[0] = 'A' # 0번째 인덱스인 요소를 'A'로 지정한 후

print(tuple(t)) # 튜플로 산출하는 방법이 있음.

('A', 'b', 'c')
('A', 'b', 'c')

In [ ]:
#Solution 77

interest = ('삼성전자', 'LG전자', 'SK Hynix')

interest = list(interest)

print(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [ ]:
#Solution 78

interest = ['삼성전자', 'LG전자', 'SK Hynix']

interest = tuple(interest)

print(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [ ]:
#Solution 79

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c) # 튜플은 변수를 할당할 수 있어 각 변수의 요소가 산출 가능함.

apple banana cake

In [ ]:
#Solution 80

print(tuple(range(2,100,2))) # range (a, b, c) a ~ b 까지의 숫자 중 c 간격으로 산출

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [ ]:
#Solution 81

a, b, *c = (0, 1, 2, 3, 4, 5)
a
print(a) # 0
b
print(b) # 1
c
print(c) # [2, 3, 4, 5]

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score,a,b= scores
print(valid_score)

0
1
[2, 3, 4, 5]
[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [ ]:
#Solution 82

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

a,b,*valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [ ]:
#Solution 83

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

a,*valid_score,b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [ ]:
#Solution 84

temp = {}

print(temp)
print(type(temp))

{}
<class 'dict'>

In [ ]:
#Solution 85

ice_name = {"메로나" : 1000, "폴라포" : 1200, "빵빠레" : 1800}

print(ice_name)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [ ]:
#Solution 86

ice_name = {"메로나" : 1000, "폴라포" : 1200, "빵빠레" : 1800}
ice_name["죠스바"] = 1200
ice_name["월드콘"] = 1500

print(dict(ice_name))

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#Solution 87

ice = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

print("메로나 가격: ",ice['메로나'])

메로나 가격:  1000

In [ ]:
#Solution 88

ice = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

ice["메로나"] = 1300

print(ice)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#Solution 89

ice = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

del ice["메로나"]
print(ice)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#Solution 90

icecream = {'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}
# icecream['누가바'], 
# 딕셔너러는 키와 밸류값이 쌍으로 이루어져야 하지만, 누가바는 밸류값이 없으므로 이를 위해서는
icecream['누가바'] = 1000 # 이렇게 추가해야 함.

print(icecream)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500, '누가바': 1000}