<a href="https://colab.research.google.com/github/ProgramerSJ/Pythonclass/blob/main/Homework_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Solution 131

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [ ]:
# Solution 132

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [ ]:
# Solution 133

변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

print("A")
print("B")
print("C")

A
B
C
A
B
C

In [ ]:
# Solution 134

for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

변수 = "A"
print("출력:",변수)
변수 = "B"
print("출력:",변수)
변수 = "C"
print("출력:",변수)

print("출력:","A")
print("출력:","B")
print("출력:","C")

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

In [ ]:
# Solution 135

for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변수 = "A"
b = 변수.lower()
print("변환:",b)
변수 = "B"
b = 변수.lower()
print("변환:",b)
변수 = "C"
b = 변수.lower()
print("변환:",b)

변환: a
변환: b
변환: c
변환: a
변환: b
변환: c

In [ ]:
# Solution 136

변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

for 변수 in [10, 20, 30]:
  print(변수)

list = [10, 20, 30]
for 변수 in list:
  print(변수)

10
20
30
10
20
30
10
20
30

In [ ]:
# Solution 137

for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [ ]:
# Solution 138

print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

for 변수 in [10, 20, 30]:
  print(변수)
  print("-------")

10
-------
20
-------
30
-------
10
-------
20
-------
30
-------

In [ ]:
# Solution 139

print("++++")
print(10)
print(20)
print(30)


print("++++")
for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30
++++
10
20
30

In [ ]:
# Solution 140

for 변수 in [1, 2, 3, 4]:
  print("-------")

-------
-------
-------
-------

In [ ]:
# Solution 141

for 리스트 in [100, 200, 300]:
  print(리스트 +10)

110
210
310

In [ ]:
# Solution 142

for 리스트 in ["김밥", "라면", "튀김"]:
  print("오늘의 메뉴:", 리스트)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [ ]:
# Solution 143

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for 종목 in 리스트 :
  길이 = len(종목)
  print(길이)

for 종목 in 리스트 :
  print(len(종목))

6
4
4
6
4
4

In [ ]:
# Solution 144

리스트 = ['dog', 'cat', 'parrot']

for 동물 in 리스트 :
  print(동물,len(동물))

dog 3
cat 3
parrot 6

In [ ]:
# Solution 145

리스트 = ['dog', 'cat', 'parrot']

for 동물 in 리스트 :
  print(동물[0])

d
c
p

In [ ]:
# Solution 146

리스트 = [1, 2, 3]

for 숫자 in 리스트 :
  print("3 x",숫자)

3 x 1
3 x 2
3 x 3

In [ ]:
# Solution 147

리스트 = [1, 2, 3]

for 숫자 in 리스트 :
  print("3 x",숫자,"=",숫자*3)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
# Solution 148

리스트 = ["가", "나", "다", "라"]

나다라 = 리스트[1:]
for 문자 in 나다라 :
  print(문자)

리스트 = ["가", "나", "다", "라"]
for 문자 in 리스트[1:]:
  print(문자)

나
다
라
나
다
라

In [ ]:
# Solution 149

리스트 = ["가", "나", "다", "라"]
for 문자 in 리스트[::2]:
  print(문자)

가
다

In [ ]:
# Solution 150

리스트 = ["가", "나", "다", "라"]
for 문자 in 리스트[::-1]:
  print(문자)

라
다
나
가