<a href="https://colab.research.google.com/github/ProgramerSJ/Pythonclass/blob/main/python_Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!!!")

Hello World!!!

- 파이썬이란...
창시자 : 귀도 반 로썸(Guido Van Rossum)이 1990년에 개발한 인터프린터 언어이다.

언어 Type
1. 컴파일러(추가적인 method, class 등 적용 등이 필요함. 덩어리 째 실행 ex. C+, JAVA(하이브리드, but 일반적으로 컴파일러 분류) etc..) 
2. 인터프린터(한 줄씩 코드를 해석해서 실행 결과를 바로 확인할 수 있는 언어, ex R, Python)

Point
1. 인공지능, 데이터 분석에 대해 Python이 JAVA 대비 비교적 적합함(JAVA는 추가적인 과정이 필요하므로 적용이 어려움).
2. 로고는 뱀 두 마리가 엉켜있는 형태인데, 이는 고대 신화에 나오는 동굴에 살던 큰 뱀을 뜻하기 때문임.
 * anaconda 언어 또한 뱀인데, 파이썬의 기본 사항이 적용되었기 때문
3. Python은 교육용으로 많이 사용되는데, 업무용으로도 손색이 없음.
(웹 개발 등은 JAVA로 활용되고 있으나, 처음 입문용으로는 Python이 수월)

Python 언어의 특징
1. 문법이 쉬움.
2. 빠르게 배울 수 있음.
 * JavaScript가 범용성의 장점으로 세계적으로 인기가 있는 추세지만, 국내에서는 아직 Python이 주로 활용
3. 무료지만 강력함.
4. 즐거운 프로그래밍이 가능함.
* 모든 언어의 기본은 C 이므로, 향후 배움을 추천

Python으로 할 수 있는 것(장점)
1. 인공지능
2. 빅데이터
 * R보다 유연한 특징
3. GUI(Graphic User Interface) Application
4. C / C++ 과의 결합이 원활함.(Library 공유가 가능)
 * 최근 Rust 언어가 C를 대체할 수 있는 언어로 주목됨
5. 웹 프로그래밍 (flask, Django(실무용))
 * Instagram이 초기에 Python으로 만들어짐.
6. Database

Python의 약점
1. System(주로 Hardware)과 밀접한 프로그래밍
 * JAVA의 언어는 임베디드로 시작되어 Hardware에 맞는 프로그래밍이 수월함
2. 모바일 프로그래밍
 * 안드로이드, 애플에서의 웹개발은 매우 어렵고, 적용이 제한적임.

IDE 개발도구
1. Colab
2. Anaconda
3. VS(Visual Studio) Code
 * MS에서 만든 무료 개발도구로 모든 언어(R, JAVA, C 등)가 적용 가능하여 강력히 추천됨.
4. Pycharm
 * Python에서 가장 유명한 언어(사용에 편함)이나, 유료고 매우 비싸므로 강의에선 굳이 쓰지 않음.
 * 언어별 개발도구(R - R Studio, JAVA - 이클립스 등)

# 변수

숫자, 문자 등 데이터를 다룰 때 컴퓨터에서는 변수(Variable)를 사용하게 됨.

- 데이터는 변수라는 통에 담아서 활용함(컴퓨터에서 데이터를 처리하는 방법, 규칙).
- 통에 데이터 덮어씌우면(새로 담으면), 뒤의 데이터가 산출됨.

In [ ]:
a = 1
a = 2
b = "python"
b = "JAVA"
print(a)
print(b)

2
JAVA


# **자료형**

자료형이란
- 프로그래밍에서 자료 형태(문자/숫자 등)로 사용하는 것을 말함.
- 프로그래밍의 핵심이자 기본이 바로 자료형임.
- 자료형을 충분히 이해해야만 프로그래밍을 잘 할 수 있음.

1. 숫자형
- 숫자형 자료형은 숫자 형태(정수, 실수 등)로 이루어진 자료형이다.
 - 정수 : [1, 2, ...]
 - 실수 : [2.14, 3.84 ...]
- 정수형 ( Integer )
- 상수형
 - 상수는 변하지 않는 수

In [ ]:
a = 3
b = 5
# a+b = 8 / Print를 생략해도 잘 찍히는 것은, colab에서는 가능하나 다른 곳(ex. Java)에선 안 찍힐 수 있음. ex. a+b = 8 / Print(a+b) = 8 
# print는 생략해도 출력이 되지만 정상은 print 구문을 사용하는 것이다. 
print (a+b) # 주석 comment(#)은 컴퓨터는 읽지 않는다. (모든 코드에는 주석을 붙여주는 것이 좋음. ex. JAVA는 //)
print (a-b)
print (a*b)
print (a/b)

8
-2
15
0.6

In [ ]:
# 나머지 연산자 % 는 몫이 아닌 나머지를 구한다.
# 나머지 연산자를 통해 짝수, 홀수, 배수를 알아낼 수 있다. (주로 짝수, 홀수를 알아내는 데 자주 사용됨)
a = 7
b = 3
print(a%b)
print(8%2) # 3/2의 몫 1, 나머지 1 중 나머지가 산출됨. / 어떤 수를 2로 나눈 나머지가 1이면, 항상 홀수이고 나머지가 0이면 항상 짝수
print(8%4) # 어떤 수를 어떤 수로 나눈 나머지가 0이면, 항상 그 수의 배수이다.

1
0
0

In [ ]:
# 몫을 알고 싶을 때는 //
# 거의 사용되지 않음.
print(9//2)

4

# 문자열 자료형

문자열은 문자, 단어, 문장 등으로 구성된 글자들의 집합임.
 - 한 글자도 문자, 여러 글자 또한 포함

In [ ]:
a = "b"
b = "hello"
c = "awesome class"
d = "123" # 큰따옴표 ""가 있으면, 숫자 123 과는 달리 문자 "123"으로 적용됨.

print(a)
print(b)
print(c)
print(d)

# 자바 등과 같은 언어에서는 변수를 사용할 때 형까지도 지정을 해주어야만 한다. (숫자를 포함시키면 error 발생, 하지만 형이 확정이 안되면 소스가 불안해지므로 장기적, 대형 프로그램일수록 에러가 많이날 수 있음)
# ex. char a = "b" ; (한 글자)
# ex. String b = "Hello" ; (여러 글자)
# ex. int c = 5 ; (숫자)

b
hello
awesome class
123

In [ ]:
# 파이썬에서 문자열은 "" 큰따옴표, '' 작은따옴표 기본적으로 동일하게 취급한다. (Java는 ""를 char, ''를 String 으로 사용)

a = "Hello"
b = 'Hello'
print(a)
print(b)

# 하지만 아래의 경우 다르게 처리됨. 문장 내에 "" or ''를 포함하고 싶을 경우 동일하게 사용할 수는 없는데, 컴퓨터는 """" 중 가장 인접해있는 문자열을 취급한다.
# 따라서 아래와 같이 "" 와 ''를 교차하여 사용해야 한다.
a = 'Hello "Austin"'
print(a)

b = "Hello 'Austin'"
print(b)

# """  """ doc string. 컴퓨터도 읽는 주석이며, 어떠한 영향을 미치지는 않는다. (사용하는 경우는 거의 없음)
# '''  ''' 

# 그러나, 굳이 "" 안에 ""를 사용하고 싶은 경우 방법은 다음과 같다.
# 백슬래시를 넣으면 기능이 무시되고 글자로만 취급된다.

a = "hello \"Austin\""
b = 'hello \'Austin\''

print(a)
print(b)

Hello
Hello
Hello "Austin"
Hello 'Austin'
hello "Austin"
hello 'Austin'

In [ ]:
# \ 백슬래시를 사용하는 것을 이스케이프 코드를 사용한다라고 표현한다.(MAC 에서는 백슬래쉬 Windows 에서는 \ 로 표현 가능)
# \ '
# \ "
# \n 강제 줄바꿈(자주 사용됨)
# \t 일정 간격 띄우기

a = "hello \nworld"
print(a)

b = "hello\t\t\tworld"
print(b)

hello
world
hello			world

Notion App 진행
우측 상단의 복제 -> 사용자의 Notion으로 Class 복제됨.

업로드 방법 (11/05 PM 10:00 Note 업로드 마감)
서강대학교 강의 관련 사이트
1. Notion Click
2. Notion 링크 들어가서 Day 1 캡션 Click
3. 최대화 이후 페이지 편집
4. 업로드 양식 참고
이름(홍성진)
링크(https://colab.research.google.com/drive/1fne-l1-zhZSi1tUjNOr5p2pHEJpP7NJd?usp=sharing)

Python 에서 아주 중요한 자료형 4 가지(많은 자료를 다루는 단어), Tip : 각각의 공통점 및 차이점 정리(면접 단골 질문)
- List (수정이 가능) (가장 많이 활용됨, 8~90%의 사용량, 그 외 나머지 10% 정도)
- Tuple (수정이 불가)
- Dict(Dictionary) (두 개씩 쌍으로 다룸)
- Set (동일한 자료를 다루지 않음)

--------------------------------------------------------------------------------
# LIST [   ]
- mutable : 수정 가능함.
- indexting / slicing 이 가능함.
- Python에서 가장 많이 사용됨.

# TUPEL (   )
- immutable : 수정 불가능하다.
- indexing / slicing 이 가능함.
- 요소를 하나만 저장할 때도 쉼표를 붙임.

# Dict {   }
- mutable : 수정 가능함.
- indexing / slicing 이 불가능함.
- Key 값, Value 값 쌍으로 구성됨.

# Set {   }
- mutable : 수정 가능함.
- indexing / slicing 이 불가능함.
- 중복 값을 허용하지 않음.

 *같은 {  } 이지만 쌍으로 구성되는 지 단일로 구성되는 지를 통해 Dict과 Set을 구분
--------------------------------------------------------------------------------

# LIST [  ] 특징
- mutable : 수정 가능함.
- indexting / slicing 이 가능함.
- Python에서 가장 많이 사용됨.

In [ ]:
# 리스트 작성

emp1 = [] # empty
odd2 = [1,3,5,7,9] # odd
str3 = ["하나", "둘", "삼"] # string
mix4 = [1,2,"삼"] # 다른 언어에서는 이러한 복합형으로 사용할 경우 error, python에서 주로 활용, 그러나 장기적, 큰 프로젝트의 경우 error 발생 위험 상승

print(emp1)
print(odd2)
print(str3)
print(mix4)

# 하나의 변수로 n 개의 데이터를 활용할 수 있음.

# 리스트에서 인덱싱 indexing (Python 에서의 indexing 은 0 에서부터 시작함.)
# n개의 데이터 중 하나를 추출하기 위해 indexing이 필요함.

alist = [10,20,30,40,50] # a라는 list

print(alist[0]) # 원하는 데이터는 1 번째 데이터지만, 1 을 사용해서는 안됨, 컴퓨터는 시작이 0 이므로 0 부터 첫 번째 데이터임.(R, SQL은 1 에서 부터 시작하므로 모든 언어에서 그런 것은 아님)
print(alist[0] + alist[1]) # 리스트 내 데이터를 각각 꺼내서 활용할 수 있음
print((alist[0] + alist[1] + alist[2] +alist[3] +alist[4])/5) # 수가 많아질수록 모두 작성하기 불편하니, 반복문이 필요함 -> if, while, for 활용

[]
[1, 3, 5, 7, 9]
['하나', '둘', '삼']
[1, 2, '삼']
10
30
30.0

Tip : Python 을 활용한 인공지능 의미 : 수 많은 계산(인공계산)을 의미, 1차원을 넘어
2차원, 3차원 자료형 구축을 통한 계산을 수행하는 것

In [ ]:
# 슬라이싱 silcing 은 n개의 데이터 중 여러 개를 추출하기 위해 필요함.

blist = "12345" # 문자형 데이터, ex. 주민등록번호의 경우 앞 2글자를 추출하면 생년월일을 알 수 있는 등 생년, 성별 등의 정보를 알 수 있음.

blist[0:2] # 0 부터 2 미만 ; 123 이 추출될 것으로 예상할 수 있으나, 0 부터 2 미만까지 이므로 세 번째 데이터는 들어가지 않음.
blist[:3] # 시작을 생략하면 처음부터 3 미만까지 3 은 포함하지 않음.
blist[0:] # 마지막을 생략하면 마지막까지 포함됨.(큰 숫자일수록 활용하기에 유용)

'12345'

In [ ]:
# 리스트에서의 연산

# 리스트 더하기 : 두 리스트의 합(데이터 합치기, 리스트들의 연결된 합으로 나타남.)

alist = [1,2,3,4,5]
blist = [6,7,8,9,10]

print(alist + blist)

# 리스트 곱하기 : 해당리스트(들)를 반복하여 연결된 합으로 나타남.

print(alist * 3)

# 리스트의 갯수 구하기

print(len(blist)) # length

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
5

In [ ]:
# 리스트의 수정 (mutable)

alist = [1,2,3,4,5]
alist[2] = 0
print(alist) # tupel 의 경우 수정이 불가능한데, 데이터를 바꿔서는 안되는 (ex. 성적) 경우에 활용 가능함.

# 리스트의 삭제

del alist[2]
print(alist)

[1, 2, 0, 4, 5]
[1, 2, 4, 5]

In [ ]:
# 리스트에서 많이 사용하는 함수들

# append : 리스트에 요소를 추가하는 기능

alist = [1,2,3,4,5]

alist.append(6) # 기존의 데이터에 추가
print(alist)
print("리스트에서 기존의 데이터 추가된 결과는", alist, "입니다.")

# sort : 리스트에서 요소들을 정렬하는 기능

blist = [2,4,3,5,1]
blist.sort() # 정렬, print를 같이 둘 수 없음. (ex. print(blist.sort()) 는 사용 불가)
print(blist) # 정렬한 리스트를 출력
print("정렬한 리스트를 출력한 결과는", blist, "입니다.")

# reverse : 리스트에서 요소들을 그대로 뒤집는 기능

clist = [1,2,3]
clist.reverse()
print(clist)
print("원래 리스트를 그대로 역순으로 출력한 결과는", clist, "입니다.")

# index(indexing이 아님) : 리스트에서 특정 값의 위치를 반환하는 기능, 인덱스를 반환

dlist = [1,2,3,4,5]
print(dlist.index(2)) # 2에 대한 위치 즉 0,1,2,3,4 에서 2의 위치는 1
print("숫자 2의 인덱스 값은", dlist.index(2), "입니다.") # 산출 데이터(값)의 앞과 뒤에 ""나 ''를 활용한 설명 추가 가능

# *JAVA에서는 설명 추가 시 +가 추가되어야 함.

# insert : 리스트의 특정 위치에 요소를 추가하는 기능(함수)

elist = [1,2,3,4,5]
elist.insert(0,0) # (특정위치의 인덱스, 넣을 값)
print(elist)

# remove : 리스트에서 요소를 삭제하는 기능

flist = [1,2,3,4,5,3]
flist.remove(3) # 리스트에서 삭제할 값을 입력, 같은 값이 여러 개 있을 경우 처음 등장하는 동일 값을 삭제함.
print(flist)

# pop : 리스트에서 마지막 요소를 제거하는 기능으로 주로 쓰이지만, 특정 위치로도 삭제 가능

glist = [1,2,3,4,5]
glist.pop() # 마지막 값인 5 를 제거
glist.pop(0) # 맨 처음 값인 1 을 제거, () 안에 0을 넣는 경우 맨 처음 값을 제거
print(glist)

# 리스트에서 요소의 개수를 세는 기능

jlist = [1,2,3,1]
jlist.count(1) # 특정 요소(1)의 개수(2)를 카운트

# 리스트의 확장

a = [1,2,3]

a.extend([4,5]) # 기존의 리스트에 새로운 리스트를 더하여 하나의 확장된 리스트로 만듦.
print(a)
print(type(jlist))

[1, 2, 3, 4, 5, 6]
리스트에서 기존의 데이터 추가된 결과는 [1, 2, 3, 4, 5, 6] 입니다.
[1, 2, 3, 4, 5]
정렬한 리스트를 출력한 결과는 [1, 2, 3, 4, 5] 입니다.
[3, 2, 1]
원래 리스트를 그대로 역순으로 출력한 결과는 [3, 2, 1] 입니다.
1
숫자 2의 인덱스 값은 1 입니다.
[0, 1, 2, 3, 4, 5]
[1, 2, 4, 5, 3]
[2, 3, 4]
[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
# 오늘 영화 랭킹 list 만들기

movielist = ["자바", "리멤버", "블랙 아담"]
print(movielist)

['자바', '리멤버', '블랙 아담']

--------------------------------------------------------------------------------
#TUPEL ( ) 특징
- immutable : 수정 불가능하다.
- indexing / slicing 이 가능함.
- 요소를 하나만 저장할 때도 쉼표를 붙임.

In [ ]:
# 튜플 Tuple

# 튜플은 리스트와 거의 동일하지만, immutable 즉, 한 번 생성하면 수정도 삭제도 불가능하다는 특징이 있다.

# (   ) 소괄호로 만든다.

tuple1 = () # 빈 튜플도 존재할 수 있지만, 의미는 없음 : 추가, 삭제가 불가능 하기 때문임.
tuple2 = (1,) # 튜플은 원소 하나짜리로 만들 대는 괜히 쉼표를 넣어야 함. : 하나 짜리의 tuple은 의미가 없음.. 주된 이유는 많은 설명이 필요함.
tuple3 = (1,2,3)
tuple4 = 1,2,3 # 튜플은 괄호를 생략 가능함., 리스트는 대괄호가 꼭 필요함.
tuple5 = (1,2,3,(4,5,6)) # 튜플안의 튜플을 포함할 수 있음., 리스트도 대괄호 안의 대괄호가 가능함.

In [ ]:
tuple1 = (1,2,3,4)
# del tuple1[0] 튜플에서는 삭제가 불가능하다.
tuple1[0] = 0. # 튜풀에서는 변경도 불가능하다.
# 해당 두 가지의 특성을 immutable 하다고 표현함.

TypeError: ignored

In [ ]:
# 튜플은 인덱싱과 슬라이싱이 가능함.

tuple1 = (1,2,3,4,5)

tuple1[-1] # -1은 리스트와 튜플에서 마지막 인덱스 번호임. 이 튜플에서는 -1 = 4

5

In [ ]:
# 튜플에서는 슬라이싱도 가능함.

tuple1 = (1,2,3,4,5)

tuple1[0:3] # 0 번째 부터 3 번째 미만 까지의 요소를 산출, 두번째 숫자는 미만으로 해석됨.

(1, 2, 3)

In [ ]:
# 튜플의 요소 갯수

tuple1 = (1,2,3,4,5)
print(len(tuple1)) # len 은 개수를 표현

print(type(tuple1))

5
<class 'tuple'>

--------------------------------------------------------------------------------
#Dict { } 특징
- mutable : 수정 가능함.
- indexing / slicing 이 불가능함.
- Key 값, Value 값 쌍으로 구성됨.

In [ ]:
# 딕셔너리 Dict

# 이름 그대로 dictionary : 사전, 처럼 키값 : 밸류값의 쌍으로 데이터가 저장되는 자료형임.

# 리스트처럼 mutable 한 속성을 갖고 있으나 인덱싱과 슬라이싱은 지원하지 않으며, 순서가 없음.

# 키 값으로 밸류 값을 산출하므로 속도가 비교적 빠르다는 장점이 있음.

adict = {5:'a', 3:'b', 2:'c'} # 인덱스처럼 보일 수 있으나, 키 값은 요소임.

print(adict[5])

print(adict)

adict[9] = 'd'

print(adict)

del adict[3] # 키와 밸류값 쌍으로 삭제됨.

print(adict)

a
{5: 'a', 3: 'b', 2: 'c'}
{5: 'a', 3: 'b', 2: 'c', 9: 'd'}
{5: 'a', 2: 'c', 9: 'd'}

In [ ]:
adict[0] # 딕셔너리는 인덱싱과 슬라이싱이 불가능함.

KeyError: ignored

데이터 분석에서는 딕셔너리를 많이 활용하고 있음.
- 키값과 밸류값 커플 형태의 자료에 대한 활용도가 높기 때문임.

In [ ]:
# keys : 딕셔너리에서 키값만 추출하는 기능

adict = {5:'a', 3:'b', 2:'c'}

print(adict.keys())

# values : 딕셔너리에서 밸류값만 추출하는 기능

print(adict.values())

# items : 딕셔너리에서 쌍으로 추출하는 기능

print(adict.items()) # 리스트 안의 튜플로 추출되므로 인덱싱이 가능함.

# in :  딕셔너리에 키 값이 존재하는 지 확인하는는 기능

1 in adict # 1 이라는 키 값이 adict에 존재하는가? => False 
5 in adict # 5 라는 키 값이 adict에 존재하는가? => True

print(type(adict))

dict_keys([5, 3, 2])
dict_values(['a', 'b', 'c'])
dict_items([(5, 'a'), (3, 'b'), (2, 'c')])
<class 'dict'>

--------------------------------------------------------------------------------
# Set { } 특징
- mutable : 수정 가능함.

- indexing / slicing 이 불가능함.

- 중복 값을 허용하지 않음.

 *같은 { } 이지만 쌍으로 구성되는 지 단일로 구성되는 지를 통해 Dict과 Set을 구분

In [ ]:
# Set : 집합

# 중복을 허용하지 않음.
# 삽입 삭제가 가능한 mutable 한 속성을 갖음.
# 인덱싱과 슬라이싱이 불가능함. (Unordered, 가능하다면 ordered(순서가 있음.))

s1 = {1,2,3,4,1,2}

print(s1) # 중복된 요소가 있음에도 error가 발생하지 않고, 중복된 요소를 삭제함.

print(type(s1))

{1, 2, 3, 4}
<class 'set'>

In [ ]:
# Boolean 는 True or False , 반드시 대문자로 시작해야 함.(소문자로 시작할 시 Boolean이 아님)

# Alan Turing : 인공지능의 시작, 컴퓨터 언어의 0,1을 만든 사람, 관련 : 튜링 테스트, 튜링 어워드, Movie : imitation game

# APPLE 2 : 스티브 잡스, 개인용 컴퓨터 관련 : Movie : 스티브 잡스

Homework (1주차)
- A4 용지 3장 분량_영화감상문 작성(이미테이션 게임, 스티브 잡스)

In [ ]:
# 숙제용 문법

a = "hi"
print(a)

hi

In [ ]:
# 키보드로 부터 직접 입력 받는 방법

a = input("출력할 내용을 입력하세요.") # 이 결과를 출력하기 위해서는 JAVA에서는 15줄이 필요하나, Python 에서는 이 정도로 가능함.
print("입력하신 내용은", a, "입니다.")

출력할 내용을 입력하세요.반갑습니다.
입력하신 내용은 반갑습니다. 입니다.

- 답안지는 수강일 저녁 10시
- 숙제는 제공 다음날 아침 10시
- int : 형 변환 숫자를 넣으면 문자로 들어갈 수 있는 문장에서 int 함수를 통해 숫자로 재 변환하여 계산 가능하게 함.